* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    background-color: rgb(10, 1, 1);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: yellow;
}